<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set" xmlns:role="http://www.sitecore.net/xmlconfig/role">
    <sitecore>
        <events>
            <trackEvent>
                <processor type="Meetup.Feature.IdentityService.Processors.IdentifyContact, Meetup.Feature.IdentityService"/>
            </trackEvent>
        </events>
    </sitecore>
</configuration>